a {
  text-decoration: none;
  color: rgb(247, 206, 230);
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(247, 222, 236);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
  text-align: center;
  line-height: 60px;
}

h2 {
  text-align: center;
  padding: 20px 0px 80px;
}

li {
  list-style: none;
  font-size: 10px;
}

ul {
  margin: 0px;
  padding: 0px;
}

.Weather {
  padding: 20px;
  margin: 20px auto;
  max-width: 450px;
  border: 2px solid rgb(247, 206, 230);
  border-radius: 15px;
  background: linear-gradient(
    153deg,
    rgb(20, 19, 19),
    #13174e 43%,
    rgb(20, 19, 19)
  );
}
