.Forecast {
  border: 2px solid rgb(247, 206, 230);
  border-radius: 15px;
  box-shadow: 4px 6px 12px black;
  padding: 20px;
  text-align: center;
}

.Forecast-day {
  opacity: 0.9;
  font-size: 15px;
}

.Forecast-temperatures {
  font-size: 10px;
}

.Forecast-temperature-max {
  opacity: 0.8;
}
.Forecast-temperature-min {
  opacity: 0.6;
}
