.Weather {
  padding: 20px;
  margin: 20px auto 0px;
  max-width: 450px;
  border: 2px solid rgb(247, 206, 230);
  border-radius: 15px;
  background: linear-gradient(
    153deg,
    rgb(20, 19, 19),
    #13174e 43%,
    rgb(20, 19, 19)
  );
}

/* Button */
.Weather-btn {
  box-shadow: 4px 2px 15px black;
}

/* SearchBar */
.Weather-form {
  margin-left: 10px;
}

.Weather-todayInfo {
  padding: 20px;
  border: 2px solid rgb(247, 206, 230);
  border-radius: 15px;
  box-shadow: 4px 6px 12px black;
}

.units {
  position: relative;
  top: -38px;
}
