.btn {
  box-shadow: 4px 2px 15px black;
}

.current-location {
  background-color: #13153a;
  border-color: white;
  border-radius: solid;
  box-shadow: 4px 2px 15px black;
}

.current-location:hover {
  transition-delay: 2ms;
  background: white;
  color: black;
  border-color: black;
  border-radius: 2px solid #6e7080;
}

.current-location:active {
  border-color: #6e7080;
  box-shadow: -3px -3px 2px #6e7080, 3px 3px 2px #6e7080;
}

.extra-info {
  opacity: 0.8;
  font-size: 15px;
}

.last-updated-time {
  opacity: 0.6;
  font-size: 10px;
  text-align: center;
  display: block;
}

.temperature {
  font-size: 15px;
}

.today-info {
  padding: 20px;
  border: 2px solid rgb(247, 206, 230);
  border-radius: 15px;
  box-shadow: 4px 6px 12px black;
}

.today-temperature {
  font-size: 70px;
}

.today-temperature-units {
  text-align: center;
  display: block;
}
.units {
  position: relative;
  top: -38px;
}

.weather-icon {
  height: 105px;
  width: 100px;
}
