.Weather {
  padding: 20px;
  margin: 20px auto;
  max-width: 450px;
  border: 2px solid rgb(247, 206, 230);
  border-radius: 15px;
  background: linear-gradient(
    153deg,
    rgb(20, 19, 19),
    #13174e 43%,
    rgb(20, 19, 19)
  );
}

.weather-icon {
  height: 105px;
  width: 100px;
}
